/* Normalize/Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Layout */
header {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  background: grey;
}

.calculator {
  background: black;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.display {
  background: white;
  width: 70%;
  height: 50px;
  margin: 10px;
}

/* Buttons */
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
